/*----------------------------------------------------------------------------------------------------------------*\
    BASIC RESET - please use a better one in production
\*----------------------------------------------------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.pageContainer {
	max-width: 900px;
	padding: 30px 10px;
    margin: 0 auto;
}





/*----------------------------------------------------------------------------------------------------------------*\
    NAV
\*----------------------------------------------------------------------------------------------------------------*/
.nav {
	background: #333;
}

.nav ul {
	list-style: none;
}

.nav li {
	display: block;
}

.nav a {
	padding: 10px 20px;
	border-right: 1px solid #555;
	display: block;
	
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.nav a:hover {
	color: #ccc;
}





/*----------------------------------------------------------------------------------------------------------------*\
    MEDIA QUERIES
\*----------------------------------------------------------------------------------------------------------------*/
@media all and (min-width: 500px) {
	.nav li {
		margin-right: -4px;
		display: inline-block;
	}
}